.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
  height: 9.6rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  align-items: center;
}

.btn-mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  color: #333;
  height: 4.8rem;
  width: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}


.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  color: #fff;
  border-radius: 1rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 3.2rem 9.6rem 3.2rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  line-height: 1.1;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.1;
  margin-bottom: 9.2rem;
}

.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 5600;
  letter-spacing: 0.75px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  color: #999;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  color: #cf711f;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  color: #333;
  margin-bottom: 4.8rem;
}

.hero-delivered-foods {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero-customers {
  display: flex;
}

.hero-customers img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.hero-customers img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}

.hero-img {
  width: 100%;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  border-radius: 50%;
  display: block;
  position: absolute;
}

.step-img-box::before {
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
}

.step-img-box::after {
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
  z-index: -1;
}

.step-img {
  width: 35%;
}

.section-how {
  padding: 9.2rem 0;
}

.step-number {
  color: #ddd;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.step-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

.section-meals {
  padding: 9.2rem 0;
}

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
}

.section-pricing {
  padding: 9.2rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.6rem 6.2rem rgba(0, 0, 0, 0.06);
}

.meal-img {
  width: 100%;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag {
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
}

.meal-title {
  color: #333;
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  color: #e67e22;
  height: 3rem;
  width: 3rem;
}

.all-recipes {
  text-align: center;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-author {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  align-content: center;
}

.gallery-items {
  overflow: hidden;
}

.gallery-img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

.testimonials-container {
  padding: 9.2rem;
  align-self: center;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.header-plan {
  margin-bottom: 4.8rem;
  text-align: center;
}

.plan-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.75;
  color: #cf711f;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "best value";
  text-transform: uppercase;
  position: absolute;
  font-size: 1.4rem;
  font-weight: 700;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  display: inline-block;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-duration {
  color: #6f6f6f;
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

.best-choice {
  background-color: #ffd43b;
  position: relative;
  top: -4.7rem;
  left: 80%;
  transform: rotate(50deg);
}

.feature-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #e67e22;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 2rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.plan-details {
  text-align: center;
}

.section-cta {
  padding: 4.8rem 0 12.8rem ;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  color: #45260a;
  padding: 6.4rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 33, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #fdf2e9;
  color: inherit;
  border-radius: 11px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form div input::placeholder {
  color: #aaa;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #767676;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.footer-link:hover,
.footer:active {
  color: #555;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-social-media {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-link {
  height: 2.4rem;
  width: 2.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.4;
  margin-top: auto;
}

.contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

