* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik',sans-serif;
  color: #555;
  line-height: 1;
  font-weight: 400;
  font-size: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
  height: 9.6rem;
}

.logo {
  height: 2.2rem;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 3.2rem 9.6rem 3.2rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.1;
  color: #333;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  color: #333;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 600;
}

.btn--cta:link,
.btn--cta:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--cta:hover,
.btn--cta:active {
  background-color: #cf711f;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.hero-delivered-foods {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero-customers {
  display:flex;
}

.hero-customers img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.hero-customers img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}


.margin-right-sm {
  margin-right: 1.6rem !important;
}


.hero-img {
  width: 100%;
}

